.marmalade,
h3,
h4 {
  color: rgba(198, 110, 51, 1);
}

input[type="submit"],
input[type="reset"] {
  background-color: rgba(198, 110, 51, 0.75);
  border: none;
  text-decoration: none;
  color: rgba(240, 240, 240, 0.75);
  padding: 0.25em 2em;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: rgba(198, 110, 51, 1);
  color: rgba(16, 16, 16, 1);
}

input,
textarea,
select,
button {
  color: rgba(16, 16, 16, 0.75);
  font: inherit;
  letter-spacing: inherit;
  width: 100%;
  max-width: 25em;
}
input,
textarea,
button {
  border: 1px solid gray;
}

/* #users styles */

#users a {
  display: block;
  margin: 0.25em;
}

section {
  padding: 0.25em;
}
